<center style="padding-top: 40px;">
<%= form_with(model: promocion, local: true) do |form| %>
  <% if promocion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promocion.errors.count, "error") %> prohibited this promocion from being saved:</h2>

      <ul>
      <% promocion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row" style="width: 40%; padding: 15px;">
    <div class="col-md-6" style="left: -124px;"><%= form.label :nombre %></div>
    <div class="col-md-6"><%= form.text_field :nombre, id: :promocion_nombre%></div>
  </div>

  <div class="field row" style="width: 40%; padding: 15px;">
    <div class="col-md-6" style="left: -105px;"><%= form.label :descripcion %></div>
    <div class="col-md-6"><%= form.text_field :descripcion, id: :promocion_descripcion %></div>
  </div>

  <label style="padding: 20px;">Desmarque si quiere dar de Baja</label>
  <div class="field row" style="width: 60%;">
    <div class="col-md-6" style="left: -20px;"><%= form.label :aprobada %></div>
    <div class="col-md-6"><%= form.check_box :aprobada, id: :promocion_aprobada %></div>
  </div>

  <div class="field row" style="width: 40%; padding: 15px;">
    <div class="col-md-6" style="left: -9px;"><% form.label :poster , class: 'oculto-casi'%></div>
    <div class="col-md-6"><% form.text_field :poster, {id: :promocion_poster, class: 'oculto-casi'}%></div>
  </div>

  <div class="field row" style="width: 40%; padding: 15px;">
    <div class="col-md-6" style="left: -115px;"><%= form.label :negocio_id %></div>
    <div class="col-md-6"><%=form.collection_select(:negocio_id, Negocio.all, :id,:nombre_empresa, prompt: "Selecciona la empresa que desees", class: 'grande_l') %></div>

  </div>
  <div class="actions">
    <%= form.submit("Aceptar", class: "btn-warning") %>
  </div>
<% end %>
</center>
