

<center style="padding-top: 50px;">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>
  var handleFileSelect = function(evt) {
      var files = evt.target.files;
      var file = files[0];

      if (files && file) {
          var reader = new FileReader();

          reader.onload = function(readerEvt) {
              var binaryString = readerEvt.target.result;
              var fileending = file.type;

              var test = btoa(binaryString);
              var final = "data:" + fileending+";base64," + test;
              document.getElementById("img_preview").src = final
              document.getElementById("usuario_foto").value = test
          };

          reader.readAsBinaryString(file);
      }
  };

  if (window.File && window.FileReader && window.FileList && window.Blob) {
      document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
  } else {
      alert('The File APIs are not fully supported in this browser.');
  }
  </script>
  <div class="form-group">
    <img id="img_preview" src="<%= user.foto %>" style="width:200px; height: auto; margin-bottom: 15px;"/>
  <input type="file" id="filePicker" class="form-control">
  <div class="invisible">
      <%= form.label :foto, "Picture" %>
      <%= form.text_field :foto, id: :usuario_foto %>
  </div>

</div>

  <div class="field row" style="width: 60%;">
    <div class="col-md-6"><%= form.label :name %></div>
    <div class="col-md-6"><%= form.text_field :name, id: :user_name, id: "textf"%></div>
  </div>

  <div class="field row" style="width: 60%;">
    <div class="col-md-6"><%= form.label :apellidos %></div>
    <div class="col-md-6"><%= form.text_field :apellidos, id: :user_apellidos , id: "textf" %></div>
  </div>


  <div class="field row" style="width: 60%;">
    <div class="col-md-6"><%= form.label :email %></div>
    <div class="col-md-6"><%= form.text_field :email, id: :user_email, id: "textf" %></div>
  </div>

  <div class="field row" style="width: 60%;">
    <div class="col-md-6"><%= form.label :password %></div>
    <div class="col-md-6"><%= form.password_field :encrypted_password, id: :user_encrypted_password, id: "textf" %></div>
  </div>

  <label style="padding: 20px;">Desmarque si quiere dar de Baja</label>
  <div class="field row" style="width: 60%;">
    <div class="col-md-6"><%= form.label :activo %></div>
    <div class="col-md-6"><%= form.check_box :activo, id: :usuario_activo %></div>
  </div>
  <label style="padding: 20px;">Quiere volver al usuario vendedor?</label>
  <div class="field row" style="width: 20%;">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.radio_button(:tipo, "v", :checked => (:usuario_tipo == 'v')) %>
        <%= label_tag(:usuario_tipo,  "Volver vendedor:") %>
    </div>
  </div>
  <div class="field row" style="width: 20%;">
     <div class="col-sm-offset-2 col-sm-10">
       <%= form.radio_button(:tipo, "u", :checked => (:usuario_tipo == 'u')) %>
       <%= label_tag(:usuario_tipo, "Mantener como usuario:") %>
     </div>
  </div>


  <div class="field row" style="width: 40%;">
    <div class="col-md-6"><% form.label :foto %></div>
    <div class="col-md-6"><% form.text_field :foto, id: :usuario_foto %></div>
  </div>

  <div class="actions">
    <%= form.submit ("ACEPTAR"), {:style => "background-color:orange;"}%>
  </div>
<% end %>


</center>
