  <style>
  .amarillo{

  font-weight: bold;
  //background: yellow;
  font-size: 100%;
  float:right;
  clear: right;
}

.rojo{
  font-weight: bold;
  //background: red;
  font-size: 100%;
  float:right;
  clear: right;
}

#pArriba{
  margin-top: -20%
}

.ocultar{
margin-top:-20%;
margin: 0%
}

#elem{
  margin-top: -5%;
  margin-left: -15%;
}

#btIr{
  padding: 0%;
  margin:0%;
}

h1{
  clear: both;
}



#nombre{
    margin-left: 8%;
}

ul li span{
  float: left;
  margin-top: 1.5%;
}

#correo{
  margin-left: 10%;
}

#btIr{
  width: 15%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){

#btIr{ float: right;
  margin-top: 3%;
  width: 30%;

}

.nuevo{

  border-radius: 5px;

}
}

.nuevo{
  font-weight: bold;
  font-size: 120%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  margin-bottom: 3%;
  color: orange;
  background-color: orange;
  text-align: center;
}

.naranja{
  color: orange;
}
  </style>

  <header id="main-header">

    <a id="logo-header" class="ocultar" >
      <span class="site-name">Usuarios Registrados</span>
      <span class="site-desc">Lista (por apellidos)</span>
    </a> <!-- / #logo-header -->

    <nav>
      <ul>
        <li id = "op4"><a><%= link_to "Negocios", :controller => "negocios", :action => "index" %></a></li>
        <li id = "op4"><a><%= link_to "Regresar", :controller => "inicio", :action => "opciones" %></a></li>
      </ul>
    </nav><!-- / nav -->

  </header><!-- / #main-header -->

<section id="main-content">


    <article id = "primer">
      <header>
      <div>

        </div>
        <h1>USUARIOS</h1>
      </header>
      <br>
      <br>
      <br>

        <ul>
          <% @usuarios.each do |usuario| %>
          <li>
          <!--
            <div>
              <div id = "elem">
                <label ><%=usuario.nombre_usuario%> <%=usuario.apellidos%></label>
                <label >Correo: <%=usuario.correo%></label>
                <!--
                <label id="pArriba" class = "ocultar derecha">Foto: <img src="<%=usuario.foto%>" width="50px"></label>
                --
                <div id = "bajoBoton" class="btDer">
                  <button id = "btIr">
                    <%= link_to 'Ver Perfil', usuario %>
                  </button>
                </div>
            </div>-->
            <span id = "nombre"><%=user.apellidos%>, <%=user.nombre_usuario%> </span>
            <span id = "correo"><%=user.correo%></span>
            <button id = "btIr">
                    <%= link_to 'Ver Perfil', user %>
            </button>

          </li>
          <% end %>
        </ul>
    </article> <!-- /article -->

</section>

<label class = "nuevo"><%= link_to 'Registrar nuevo usuario', new_user_path ,:class => "naranja"%></label>
