<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("#default_u").hide();
    });
});
$(document).ready(function(){
    $("#hide1").click(function(){
        $("#default_u").hide();
    });
});


function openCity(evt, cityName)
{
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

  <style>
  .amarillo{

  font-weight: bold;
  //background: yellow;
  font-size: 100%;
  float:right;
  clear: right;
}

.rojo{
  color: black;
  font-weight: bold;
  background: orange;
  font-size: 100%;
  float:right;
  clear: right;
}

#pArriba{
  margin-top: -20%
}

.ocultar{
margin-top:-20%;
margin: 0%
}

#elem{
  margin-top: -5%;
  margin-left: -15%;
}

#btIr{
  padding: 0%;
  margin:0%;
}

h1{
  clear: both;
}



#nombre{
    margin-left: 8%;
}

ul li span{
  float: left;
  margin-top: 1.5%;
}

#correo{
  margin-left: 10%;
}

#btIr{
  width: 15%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){

#btIr{ float: right;
  margin-top: 3%;
  width: 30%;

}

.nuevo{

  border-radius: 5px;

}
}

.nuevo{
  font-weight: bold;
  font-size: 120%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  margin-bottom: 3%;
  color: orange;
  background-color: orange;
  text-align: center;
}

.naranja{
  color: orange;
}
  </style>

  <header id="main-header">

    <a id="logo-header" class="ocultar" >
      <span class="site-name">Usuarios Registrados</span>
      <span class="site-desc">Lista de usuarios</span>
    </a> <!-- / #logo-header -->

    <nav>
      <ul>
        <li id = "op4"><a><%= link_to "Negocios", :controller => "negocios", :action => "index" %></a></li>
        <li id = "op4"><a><%= link_to "Regresar", :controller => "inicio", :action => "opciones" %></a></li>
      </ul>
    </nav><!-- / nav -->

  </header><!-- / #main-header -->

<section >
    <article>
      <header>
        <br /><br />
        <h1>USUARIOS</h1>
        <br />
        <%= form_tag("/users", :method => "GET", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: ""%>
            <%= submit_tag "Buscar", :name => nil ,class: "btn btn-warning"%>
        <% end %>
      </header>

    <div class="tab-container" style="padding-top: 50px;">
    <div class="tab">
      <button class= "btn btn-warning" id="hide" onclick="openCity(event, 'Tunegocio')">
        Nombre
      </button>

      <button class= "btn btn-warning" id="hide1" onclick="openCity(event, 'Buscar')">
        Apellido
      </button>

    </div>
    <br /><br /><br /><br /><br />
    <br><br>
    <div id="Tunegocio" class="tabcontent" style="display:none">
      <%= render :partial => 'users/nombre', :controller => "users", :action => "nombre" %>
    </div>

    <div id="Buscar" class="tabcontent">
      <%= render :partial => 'users/apellido', :controller => "users", :action => "apellido" %>
    </div>

    </div>
    </article> <!-- /article -->

</section>
<label class = "nuevo"><%= link_to 'Registrar nuevo usuario', new_user_path %></label>
