<header class="header">

<div class="container-fluid">

	<div class="row">


</div>
</header>



	<%= form_with(model: @negocio_o, local: true) do |form| %>

	  <div class="container-fluid">
	  	<div class="row">
	  		<div class="col-md-12">
	  			<h3>
	  				Registro
	  			</h3>
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="form-group" >
								<%= form.label :nombre_empresa, id: :version_negocio_nombre_empresa%>
	  				    <%= form.text_field :nombre_empresa, id: :version_negocio_nombre_empresa, placeholder: "Nombre público de la empresa" %>
	  				  </div>
           		<br>

	  					<div class="form-group">
								<div class="row form-group">
								<div class="col-md-4">
									<div class= "gratis">
										<label>
											 <input <%= form.radio_button(:aprobado, -1, :checked => (:version_negocio_aprobado == -1)) %>

											<p>
												Negar cambios
											</p>

										</label>

								</div>
								</div>
								<div class="col-md-4">
									<div class= "basico">
										<label>
											 <input <%= form.radio_button(:aprobado, 1, :checked => (:version_negocio_aprobado == 1)) %>

											<p>
												Aceptar cambios
											</p>

										</label>
								</div>
								</div>

							</div>
	  				  </div>
	  					<br>
	  					<div class="form-group">
								<%@negar = :version_negocio_aprobado%>
								<%@aceptar = :version_negocio_aprobado%>
								<%= form.label :descripcion, id: :version_negocio_descripcion %>
	              <%= form.text_field :descripcion, id: :version_negocio_descripcion , placeholder: "Descripción"%>
	  				  </div>
	  					<br>


	          </div>

						<div class="row">
						<div class="col-md-12">

							<div class="row">

	  						<div class="col-md-6">

	  							<button type="button" class="btn btn-default">
	  								<%= link_to "Regresar", :controller => "version_negocios", :action => "index" %>
	  							</button>
	  						</div>
	  						<div class="col-md-6">
	                <div class="actions">

	                  <%=form.submit ("Aceptar")%>
	                </div>
	  						</div>
	  					</div>
						</div>
					</div>
	  		</div>
	  	</div>
	  </div>
	</div>


<% end %>
