
<style>

  .centrado{
    margin-top: -3%;
    margin-bottom: 1%;
    font-size: 150%;
    text-align: center;
  }

  .amarillo{

  font-weight: bold;
  //background: yellow;
  font-size: 100%;
  float:right;
  clear: right;
}

.rojo{
  font-weight: bold;
  //background: red;
  font-size: 100%;
  float:right;
  clear: right;
}

#pArriba{
  margin-top: -20%
}

.ocultar{
margin-top:-20%;
margin: 0%
}

#elem{
  margin-top: -5%;
  margin-left: -15%;
}

#btIr{
  padding: 0%;
  margin:0%;
}

h1{
  clear: both;
}



#nombre{
    margin-left: 8%;
}

ul li span{
  float: left;
  margin-top: 1.5%;
}

#correo{
  margin-left: 10%;
}

#btIr{
  width: 15%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){

#btIr{ float: right;
  margin-top: 3%;
  width: 30%;

}

.nuevo{

  border-radius: 5px;

}
}

.nuevo{
  font-weight: bold;
  font-size: 120%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  margin-bottom: 3%;
  color: orange;
  background-color: orange;
  text-align: center;
}

.naranja{
  color: orange;
}


</style>

<header id="main-header">

    <a id="logo-header" class="ocultar" >
      <span class="site-name">Vendedores Registrados</span>
      <span class="site-desc">Lista</span>
    </a> <!-- / #logo-header -->

    <nav>
      <ul>
        <li id = "op4"><a><%= link_to "Regresar", :controller => "inicio", :action => "opciones" %></a></li>
        <li id = "op4"><a><%= link_to "Entrevistas", :controller => "entrevistas", :action => "index" %></a></li>
      </ul>
    </nav><!-- / nav -->

  </header><!-- / #main-header -->



<section>
<br /><br /><br />
    <article id = "primer">
      <header>
        <h1>VENDEDORES CON CODIGO</h1>
        <br /><br />
        <%= form_tag("/vendedors", :method => "GET", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Por nombre"%>
            <%= submit_tag "Buscar", :name => nil, class: "btn btn-warning" %>
        <% end %>
      </header>
      <br><br><br><br /><br /><br />
        <ul>
          <% if @vendedores == nil %>
					<h1>No hay ninguna coincidencia</h1>

					<%else%>
          <% @vendedores.each do |vendedor| %>
          <li>
            <span id = "nombre"><%=vendedor.user.name%> <%=vendedor.user.apellidos%></span>
            <span id = "correo">Codigo: <%=vendedor.codigo%></span>
            <button id = "btIr">
                    <%= link_to 'Ver Ventas', vendedor %>
            </button>
          </li>
					<% end %>

          <% end %>
        </ul>
    </article> <!-- /article -->

</section>
