<style>



.rojo{
  color: red;
}

section ul li:nth-child(odd){
  background-color:red;
  color: white;
}

@media screen and (max-width: 1200px){


 #derecha{
    
    margin-left: 40%;
  }

  #btIr{
    margin-right: -50%;
    margin-top:40%;
  }


}

  .amarillo{
  
  font-weight: bold;
  //background: yellow;
  font-size: 100%;
  float:right;
  clear: right;
}

.rojo{
  font-weight: bold;
  //background: red;
  font-size: 100%;
  float:right;
  clear: right;
}

#pArriba{
  margin-top: -20%
}

.ocultar{
margin-top:-20%;
margin: 0%
}

#elem{
  margin-top: -5%;
  margin-left: -15%; 
}

#btIr{
  padding: 0%;
  margin:0%;
}

h1{
  clear: both;
}



#nombre{
    margin-left: 8%;
}

ul li span{
  float: left;
  margin-top: 1.5%;
}

#correo{
  margin-left: 10%;
}

#btIr{
  width: 15%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){

#btIr{ float: right;
  margin-top: 3%;
  width: 30%;
  
}

.nuevo{

  border-radius: 5px; 

}
}

.nuevo{
  font-weight: bold;
  font-size: 120%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  margin-bottom: 3%;
  color: orange;
  background-color: orange;
  text-align: center;
}

.naranja{
  color: orange;
}

</style>


<header id="main-header">
    
    <a id="logo-header" class="ocultar" >
      <span class="site-name">Actualizaciones Rechazadas</span>
      <span class="site-desc">Lista</span>
    </a> <!-- / #logo-header -->
 
    <nav class = "abajo">
      <ul>
        <!--<li id = "op4"><a><%= link_to "Usuarios Rechazados", :controller => "rechazados", :action => "usuarios" %></a></li>
        <li id = "op4"><a><%= link_to "Promos rechazadas", :controller => "rechazados", :action => "promociones" %></a></li>-->
        <li id = "op4"><a><%= link_to "Regresar", :controller => "pendientes", :action => "index" %></a></li>
      </ul>
    </nav><!-- / nav -->
 
  </header>



  <section id="main-content"> 
    <article id = "primer">
      <header>
      <div>
        </div>
        <h1 >ACTUALIZACIONES RECHAZADAS</h1>
      </header>
      <br><br><br>
    <%if @actualizaciones.length >0%> 
        <ul>
          <% @actualizaciones.each do |actualizacion| %>
          <li>
            <span id = "nombre">Negocio: <%=Negocio.find(actualizacion.negocio.id).nombre_empresa%></span>
            
            <button id = "btIr">
                    <%= link_to 'Ver Perfil', actualizacion %> 
            </button>
          </li>
          <% end %>
        </ul>
        <%else%>
              <h1>No hay actualizaciones de negocios pendientes...</h1>
        <%end%>         
    </article> <!-- /article -->
  
</section>