<style>

.rojo{
  color: red;
}

section ul li:nth-child(odd){
  background-color:red;
  color: white;
}

/////////////////////////////////////////////////

#btIr{
  padding: 0%;
  margin:0%;
}

h1{
  clear: both;
}



#nombre{
    margin-left: 8%;
}

ul li span{
  float: left;
  margin-top: 1.5%;
}

#correo{
  margin-left: 10%;
}

#btIr{
  width: 15%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){

#btIr{ float: right;
  margin-top: 3%;
  width: 30%;

}

.nuevo{

  border-radius: 5px;

}
}

@media screen and (min-width: 1300px){



}

.nuevo{
  font-weight: bold;
  font-size: 120%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  margin-bottom: 3%;
  color: orange;
  background-color: orange;
  text-align: center;
}


#btbt{
  margin: 0%;
  margin-top: 1.5%;
  width: 20%;
  margin-right: 2%;
}


</style>


<header id="main-header">

    <a id="logo-header" class="ocultar" >
      <span class="site-name">Negocios Rechazados y BAJAS</span>
      <span class="site-desc">Lista (por nombre del negocio)</span>
    </a> <!-- / #logo-header -->

    <nav class = "abajo">
      <ul>

        <li id = "op4"><a><%= link_to "Regresar", :controller => "negocios", :action => "index" %></a></li>
      </ul>
    </nav><!-- / nav -->

  </header>



  <section id="main-content">

    <article id = "primer">
      <header>
        <h1 class = "rojo">NEGOCIOS RECHAZADOS Y BAJAS</h1>
      </header>
      <br>
<br>
<br>

<%if @negocios.!= nil%>
        <ul>
          <% @negocios.each do |negocio| %>
          <li>
            <span id = "nombre">Negocio: <%=negocio.nombre_empresa%></span>
            <span id = "correo">Dueño: <%= negocio.user.name %> <%= negocio.user.apellidos %></span>
            <button id ="btbt" class = "abajo"><%= link_to 'Ver Perfil', negocio %> </button>

          </li>
          <% end %>
        </ul>
        <%else%>
              <h1>No hay negocios rechazados o dados de baja actualmente...</h1>
        <%end%>
    </article> <!-- /article -->

</section>
