<header class="header">

<div class="container-fluid">

	<div class="row">

		<div class="col-md-2 row">

			<a href= /users/sign_in class="btn btn-link font" role="button">
				Iniciar sesión
			</a>
			<a href= /usuarios/new class="btn btn-link font" role="button" >
				Cerrar sesión
			</a>
			</div>
		</div>
</div>
</header>

<% currentuser =  Usuario.where("correo = ?", current_user.email)%>

<% currentuser.each do |f| %>

	<%= form_with(model: negocio, local: true) do |form| %>
	  <% if negocio.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>

	      <ul>
	      <% negocio.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="container-fluid">
	  	<div class="row">
	  		<div class="col-md-12">
	  			<h3>
	  				Registro
	  			</h3>
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="form-group">

	  				    <%= form.text_field :nombre_empresa, id: :negocio_nombre_empresa, placeholder: "Nombre público de la empresa" %>
	  				  </div>
           		<br>

	  					<div class="form-group">

	  				  </div>
	  					<br>
	  					<div class="form-group">

	              <%= form.text_field :descripcion, id: :negocio_descripcion , placeholder: "Descripción"%>
	  				  </div>
	  					<br>


	          </div>
	  				
						<div class="row">
						<div class="col-md-12">

							<div class="row">

	  						<div class="col-md-6">

	  							<button type="button" class="btn btn-default">
	  								Atrás
	  							</button>
	  						</div>
	  						<div class="col-md-6">
	                <div class="actions">

	                  <%=form.submit (""), :class => 'submit_registro'%>
	                </div>
	  						</div>
	  					</div>
						</div>
					</div>
	  		</div>
	  	</div>
	  </div>
	</div>

	<% end %>
<% end %>
