<header class="header">

<div class="container-fluid">

	<div class="row">


</div>
</header>



	<%= form_with(model: negocio, local: true) do |form| %>
	  <% if negocio.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>

	      <ul>
	      <% negocio.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="container-fluid">
	  	<div class="row">
	  		<div class="col-md-12">
	  			<h3>
	  				Registro
	  			</h3>
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="form-group">

	  				    <%= form.text_field :nombre_empresa, id: :negocio_nombre_empresa, placeholder: "Nombre público de la empresa" %>
	  				  </div>
           		<br>

	  					<div class="form-group">

	  				  </div>
	  					<br>
	  					<div class="form-group">

	              <%= form.text_field :descripcion, id: :negocio_descripcion , placeholder: "Descripción"%>
	  				  </div>
	  					<br>


	          </div>

						<div class="row">
						<div class="col-md-12">

							<div class="row">

	  						<div class="col-md-6">

	  							<button type="button" class="btn btn-default">
	  								<%= link_to "Regresar", :controller => "negocios", :action => "index" %>
	  							</button>
	  						</div>
	  						<div class="col-md-6">
	                <div class="actions">

	                  <%=form.submit ("Modificar")%>
	                </div>
	  						</div>
	  					</div>
						</div>
					</div>
	  		</div>
	  	</div>
	  </div>
	</div>


<% end %>
